contourpy
cycler
fonttools
greenlet
Jinja2
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
playwright
psycopg2-binary
pyee
pyparsing
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
seaborn
six
SQLAlchemy
threadpoolctl
typing_extensions
tzdata
xgboost
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib
bcrypt==3.2.0
python-multipart
requests
cachetools
